<p id="notice"><%= notice %></p>

<h1> Users </h1>


<%= form_tag(add_members_group_path, method: :get) do %>
  <div class="field">
    <%= label_tag :serie %>
    <%= select_tag :serie, options_for_select(@series, params[:serie]), include_blank: true %>
  </div>

  <div class="field">
    <%= label_tag :year %>
    <%= select_tag :year, options_for_select(@years, params[:year]), include_blank: true %>
  </div>

  <div class="field">
    <%= label_tag :group_number %>
    <%= select_tag :group_number, options_for_select(@group_numbers, params[:group_number]), include_blank: true %>
  </div>

  <div class="field">
    <%= label_tag :group %>
    <%= select_tag :group, options_from_collection_for_select(Group.all, :id, :name, params[:group]), include_blank: true %>
  </div>

  <%= submit_tag "Search" %>
<% end %>


<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Series</th>
      <th>Year</th>
      <th>Group Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %> </td>
        <td><%= user.groups.map{ |el| el['serie']} %></td>
        <td><%= user.groups.map{ |el| el['year']} %></td>
        <td><%= user.groups.map{ |el| el['group_number']} %></td>
        <td><%= link_to 'Add to Group', add_member_group_path(@group, user_id: user.id), method: :post, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

